:root {
    --primary-color: #1164A8;
    --accent-color: hsla(48, 100%, 58%, 1);
    --accent-color--hover: hsla(48, 100%, 68%, 1);
    --info-color: hsla(0, 0%, 65%, 1);
    --info-color--hover: hsla(0, 0%, 75%, 1);
    --dark-color: hsla(0, 0%, 20%, 1);
}

body {
    background-color: var(--primary-color);
}

.background-color--primary {
    background-color: var(--primary-color);
}

.text-color--primary {
    color: var(--primary-color);
}

.text-color--dark {
    color: var(--dark-color);
}