.nav {
    background-color: #fff;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__links {
    padding: 1rem;
    position: relative;
}

.nav__links:not(:first-child):after {
    content: "";
    display: block;
    position: absolute;
    width: 30%;
    height: 2px;
    background-color: var(--accent-color);
    bottom: 0;
    transition: 0.25s ease all;
}

.nav__links:hover:after {
    width: 80%;
    background-color: var(--accent-color--hover);
}

.nav__links:first-child {
    margin-right: auto;
}

.nav__logo {
    height: auto;
    width: 50px;
}