#project-showcase {
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 40px black;
}